.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}
.board {
  width: 100%;
  background: #ffffff;
}

.boardNav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8em;
  height: 64px;
  border-bottom: 1px solid #ededed;
  padding-right: 1em;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.profileIcon {
  font-size: 30px;
}
.boardNav select {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0a0a0a;
}

.boardContent {
  padding-top: 5em;
}
.boardContent h2 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1a1a1a;
  margin-bottom: 1em;
}
.view {
  padding: 0 2em;
}
.salesOverview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}
.overviewContent {
  width: 256px;
  height: 240px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 2em;
}
.overviewContent h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.overviewContent p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}
.overviewContentActive {
  width: 256px;
  height: 240px;
  background: #000000;
  border-radius: 8px;
  padding: 2em;
}
.overviewContentActive h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.overviewContentActive h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.overviewContentActive p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.boardBottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1em;
  margin-top: 2em;
}
.graph {
  width: 75%;
}
.graphTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.graphTop h4 {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #0a0a0a;
}
.graphTop span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ef2c5a;
}
.graphTop select {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 91px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-feature-settings: "cv03" on, "cv04" on, "liga" o;
  color: #0a0a0a;
  border-radius: 8px;
  border: 2px solid;
}
.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 14px;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  width: 300px;
}
.email input {
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
}
.graphTop button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 40px;
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0a0a0a;
}

.line {
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  /* padding: 1em; */
  width: 100%;
  height: 284px;
}
.line canvas {
  width: 100% !important;
  height: 100% !important;
}

.wire {
  width: 304px;
  height: 284px;
  background: url(../../public/lines.svg), #ef2c5a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.wire p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  font-feature-settings: "ss05" on, "ss06" on, "liga" off;
  color: #ffffff;
  width: 192px;
}

.wire button {
  width: 130px;
  height: 48px;
  background: #0a0a0a;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  outline: none;
}
