.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}
.board {
  width: 100%;
  background: #ffffff;
}

.history {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-top: 10em;
}
.history p {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #0a0a0a;
  margin-bottom: 2em;
}

.historyTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.input {
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  width: 180px;
  height: 40px;
}

.input input {
  width: 85%;
  height: 100%;
  outline: none;
  border: none;
}
.topBut {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}
.historyTop button {
  width: 94px;
  height: 40px;
  border: 1px solid #0a0a0a;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #0a0a0a;
}
